
form {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
  
  }
  
  input[type="number"] {
    width: 120px;
    margin-bottom: 10px;
    padding: 5px;
  }
  

 
.adi-indicator {
 

    top: 35%;
    width: 200px; 
    height: 200px;
    border-radius: 250%; 
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
}
.absolute{
    left: 10%;
}

table {


    background-color:#ccc;
    border-collapse: collapse;
    width: 100%;
    max-width: 30px; 
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    padding: 80px; 
}
/* body{
    background-image: url("67-1.jpg");
/* פה עשיתי מי רקע כזה */

} */
#b12{
  width: 150px;
  height: 50px;
  top: 50%;
  left: 50%;


}
#l{

right: 10%;

}
.button {
  background-color: #4c7aaf;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 8px; 
}

.button:hover {
  background-color: #4594a0; 
}



  



